

#document-container{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 0.5fr 4fr;
}

/* Dashboard */
#dashboard-container{
    
    grid-row: 1/4;
    background-color: rgba(31, 131, 224, 0.811);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    color: white;
    padding: 10px;
    
}

#dashboard-container>ul{
    
    font-size: 1.2rem;   
    padding: 10px;
}

#dashboard-container>h1{
    font-size: 2rem;
}


/* Header */
#header-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    
}

#top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#top-header>div>input{
    width: 40vw;
}

#top-header>div:last-child{
   display: flex;
   gap: 1rem;
   align-items: center;
}

#bottom-header{
    display: flex;
    gap: 10px;

}

#bottom-header>div:last-child{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}


#content-container{
    grid-row: 2/4;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr;
    background-color: rgb(216, 216, 216);
    

    
    
}


#projects-container, #announcments-container, #trending-container{
    border: solid;
}
#projects-container{
    /* padding: 0 10px;  */
    grid-row: 2/4;
   
    display: grid;
    height: 100%;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, min(200px, 30%)) ;
    grid-auto-rows: 1fr;
    justify-content: space-evenly;
    
}



#projects-container>p{
    grid-column: 1/3;
    font-size: 1.5rem;
}

#projects-container>div{
    min-width: 40%;
    min-height: 20%;
    border: solid;
    background-color: white;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    position: relative;
    
}

#projects-container>div>div:first-child{
    overflow: scroll;


}

#projects-container>div>div:last-child{
    position: absolute;
   bottom: 5%;
   right: 5%;


}

#announcments-container{
    
}