

#document-container{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.5fr 0.5fr 4fr;
}

/* Dashboard */
#dashboard-container{
    
    grid-row: 1/4;
    background-color: rgba(31, 131, 224, 0.811);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    color: white;
    padding: 10px;
    
}

#dashboard-container>ul{
    
    font-size: 1.2rem;   
    padding: 10px;
}

#dashboard-container>h1{
    font-size: 2rem;
}


/* Header */
#header-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    
}

#top-header {
    display: flex;
    justify-content: space-between;
}

#top-header>div>input{
    width: 40vw;
}

#top-header>div:last-child{
   display: flex;
   gap: 1rem;
}

#bottom-header{
    display: flex;
    gap: 10px;

}

#bottom-header>div:last-child{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}
